*.png
*.tex
*.zip
*.ods
*.xlsx
elsarticle*
*.ipynb
*.docx
*.eps
*.sh
README
lista_latex
doc
manifest.txt
/access
/stats
/.ipynb_checkpoints
/imagenes
/Rcode
/__pycache__
*.pyc
matrices_viejas
codigo_viejo
