*.png
*.tex
*.zip
*.ods
elsarticle*
*.ipynb
*.docx
*.eps
*.sh
README
lista_latex
doc
manifest.txt
/access
/stats
/.ipynb_checkpoints
/images
/Rcode
/__pycache__
*.pyc
matrices_viejas
codigo_viejo
tdumps
.Rhistory
.RData
.Rhistory
.gitignore
.gitignore
.Rproj.user
